<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <content style="text-align:center;">
        <img src="https://lh6.googleusercontent.com/7fNXzE3ISD8deV47LRNE-XSqfWrjyGg641F12IXvbiXoNwot8b4tWcZfCSTIAUZFygmXlAiZWUfvKGOz4dSGfiUVbH-p6z6xyTTWd6mjgMigm8IvgNi9Qi6nYYy8KDbhglO1g4Q"/>
    </content>

</body>
</html>